<a href="https://colab.research.google.com/github/shorya-ag/Assignment1_/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. LIST

In [4]:
L = [11,12,13,14]
L.append(50)
L.append(60)
print("New list is --> ",L)

New list is -->  [11, 12, 13, 14, 50, 60]

In [21]:
L = [11,12,13,14]
for i in L:
   if (i==11):
    L.remove(i)
   if (i==13):
    L.remove(i)
print("New list is --> ",L)

New list is -->  [12, 14]

In [26]:
L = [11,12,13,14]
L.sort()
print("List in ascending order L = ",L)

List in ascending order L =  [11, 12, 13, 14]

In [27]:
L = [11,12,13,14]
L.sort(reverse = True)
print("List in descending order L = ",L)

List in descending order L =  [14, 13, 12, 11]

In [29]:
L = [11,12,13,14]
if (13 in L) == True:
  print("present")
else:
  print("not present")

present

In [32]:
L = [11,12,13,14]
print("total number of elements are",len(L))

total number of elements are 4

In [33]:
print("sum of all elements are",sum(L))

sum of all elements are 50

In [58]:
L = [11,12,13,14]
sum1 = 0
sum2 = 0
for i in L:
  if(i%2 == 0):
    sum1 = sum1 + i
  else:
    sum2 = sum2 + i
print("sum of even numbers are:",sum1)
print("sum of odd numbers are:",sum2)

sum of even numbers are: 26
sum of odd numbers are: 24

In [75]:
L = [11,12,13,14]
n = len(L)
f = 0
for j in L:
  print(j)
for i in range(2,j//2 + 1):
  if(j%i == 0):
    f = 1
    break
if(f==0):
    print(L)

11
12
13
14

In [36]:
L.clear()
print("clear list is",L)

clear list is []

In [54]:
L = [11,12,13,14]
while i<=len(L):
  del L[0]
print("deleted list is",L)

deleted list is []

Q2. Dictionary

In [76]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8] = 8.8;
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [77]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

In [78]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print(6 in D)

False

In [80]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print(len(D))

5

In [83]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
sum = 0
for i in D.values():
  sum  = sum + i
print(sum)

36.4

In [84]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[3] = 7.1
print(D)

{1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

In [86]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D.clear()
print(D)

{}

Q3. Sets

In [88]:
s1= set([10, 20, 30, 40, 50, 60])
s2= set([40, 50, 60, 70, 80, 90])
s1.add(55)
s1.add(66)
print(s1)

{66, 40, 10, 50, 20, 55, 60, 30}

In [89]:
s1= set([10, 20, 30, 40, 50, 60])
s2= set([40, 50, 60, 70, 80, 90])
s1.remove(10)
s1.remove(20)
print(s1)

{40, 50, 60, 30}

In [90]:
s1= set([10, 20, 30, 40, 50, 60])
s2= set([40, 50, 60, 70, 80, 90])
print(40 in s1)

True

In [91]:
s1= set([10, 20, 30, 40, 50, 60])
s2= set([40, 50, 60, 70, 80, 90])
print("union of 2 sets is : ",s1.union(s2))

union of 2 sets is :  {70, 40, 10, 80, 50, 20, 90, 60, 30}

In [92]:
s1= set([10, 20, 30, 40, 50, 60])
s2= set([40, 50, 60, 70, 80, 90])
print("intersection of 2 sets is : ",s1.intersection(s2))

intersection of 2 sets is :  {40, 50, 60}

In [98]:
s1= set([10, 20, 30, 40, 50, 60])
s2= set([40, 50, 60, 70, 80, 90])
print("s1 - s2 : ",s1.difference(s2))

s1 - s2 :  {10, 20, 30}

Q4.

In [108]:
import string as s
import random as r
print(s.ascii_letters)
for i in range(0,100):
  random_string = r.sample(s.ascii_letters,7)
  print("".join(random_string))

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
myRPsBv

lNIHCMO

HWlkqUO

VjyBict

QIiCGzY

VGnHfCp

HKkLySx

WTGhRte

nZcbrfI

kpTUAxF

mMDLYCA

fKJxsNW

czPGZru

EuopKTY

GxFHBRd

mPZTrnw

kiesEgq

wibsdGN

voXqOEw

VIAEkiU

gbiEDTR

fAdXHgY

lHnTmMu

forXEZy

NxPEjwt

NKBIHwo

aKLJIcq

KPLTcFV

oJROYuN

wOTYPys

OQyNtBp

TQaYEgR

dMpYfCo

cgfkZdQ

oZEDFhi

DEkWgtc

kERVplQ

Ldraoik

SICFmsz

eJkWwtP

vlrFxVb

oXleNkS

ScwAXfa

DTPKLHW

hkdYmlb

YXQeEvJ

qpiCOZI

eSLAHth

igtcDno

hYaGJXe

CLMdErl

IvHTCrS

Tyfjamv

cenSfPt

WAntsrk

cCEUByG

aDhnIrL

dBfLArS

ubcvSsI

BrcbAyJ

Jhyplus

GrgyXuf

lrmYfNx

GihFpDS

czOlhjP

lOKpcHe

ZStusBk

ADHErNh

xKqErkv

DfUPckM

gbEYxFT

pPQqaOy

HMydjaR

RwtvqTL

Rekyciw

IYUoxCf

KQDIqCB

rDkZNCs

MQqRcIO

qTtVdgS

uwlULHM

SJuLfEX

eqcoNnW

XYkRJLZ

cPeCuHW

iWUIZsn

odXJbBa

NJYmiRA

taHPTNZ

yNCSQTB

zdBEvVe

Kuohctx

WRKUtsv

dYphfAz

cqrPFJR

WMjoHIy

RvQlmra

MYpzbrv

bVwqIQr

iWQPVRs

In [110]:
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1
for i in range(600,800):
 if IsPrime(i) == 1:
	 print(i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [117]:
for i in range(100,1000):
 if(i%7 == 0):
   if(i%9 == 0):
     print(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

WAP to create two lists of 10 random numbers between 10 and 30; Find

In [155]:
import random as r
s1 = r.sample(range(10,30),10)
print("list 1 is : ",s1)
s2 = r.sample(range(10,30),10)
print("list 2 is : ",s2)
final_list = []
for i in s1:
  if i in s2:
    final_list.append(i) 
print("common numbers in 2 lists are",final_list) 
S1 = set(s1)
S2 = set(s2)
S3 = list(S1.symmetric_difference(S2))
print("list of unique number is : ",S3) 
print("min of list 1 is : ",min(s1))
print("min of list 2 is : ",min(s2))
print("max of list 1 is : ",max(s1))
print("max of list 2 is : ",max(s2))
s3 = s1 + s2
print("sum of both the lists are ",s3)

list 1 is :  [23, 22, 28, 14, 19, 15, 12, 18, 26, 29]
list 2 is :  [26, 13, 11, 16, 17, 20, 29, 19, 21, 28]
common numbers in 2 lists are [28, 19, 26, 29]
list of unique number is :  [11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23]
min of list 1 is :  12
min of list 2 is :  11
max of list 1 is :  29
max of list 2 is :  29
sum of both the lists are  [23, 22, 28, 14, 19, 15, 12, 18, 26, 29, 26, 13, 11, 16, 17, 20, 29, 19, 21, 28]

WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

In [185]:
import random as r
l = r.sample(range(100,900),100)
print("List we have is\n",l)
lo = []
le = []
for i in l:
  if(i%2==0):
    le.append(i)
  else:
    lo.append(i) 
print("\nTotal even numbers are = ",len(le)) 
print("\nEven numbers list is\nle=",le)
print("\nTotal odd numbers are = ",len(lo)) 
print("\nOdd number list is\nlo=",lo)
def is_prime(n):  
  
  for i in range (2,n//2 + 1):
    if(n%i==0):
      return 0
  return 1
lp = []
for i in l:
  
  if (is_prime(i))==1:  
   lp.append(i)  
print("\nTotal prime numbers are = ",lp)
print("\nPrime numbers are = ",lp)

List we have is
 [294, 317, 887, 598, 327, 764, 814, 810, 218, 765, 322, 864, 101, 326, 807, 853, 515, 484, 307, 141, 768, 547, 858, 193, 215, 397, 837, 529, 316, 822, 760, 343, 549, 284, 194, 501, 836, 894, 405, 179, 532, 183, 450, 128, 153, 160, 838, 812, 614, 666, 725, 262, 773, 845, 223, 531, 376, 118, 528, 411, 485, 881, 737, 439, 667, 300, 358, 468, 588, 786, 717, 793, 172, 392, 801, 735, 102, 878, 706, 220, 600, 705, 289, 421, 168, 693, 513, 103, 656, 520, 268, 459, 707, 638, 202, 441, 232, 390, 583, 620]

Total even numbers are =  52

Even numbers list is
le= [294, 598, 764, 814, 810, 218, 322, 864, 326, 484, 768, 858, 316, 822, 760, 284, 194, 836, 894, 532, 450, 128, 160, 838, 812, 614, 666, 262, 376, 118, 528, 300, 358, 468, 588, 786, 172, 392, 102, 878, 706, 220, 600, 168, 656, 520, 268, 638, 202, 232, 390, 620]

Total odd numbers are =  48

Odd number list is
lo= [317, 887, 327, 765, 101, 807, 853, 515, 307, 141, 547, 193, 215, 397, 837, 529, 343, 549, 501, 405, 179, 183, 153, 725, 773, 845, 223, 531, 411, 485, 881, 737, 439, 667, 717, 793, 801, 735, 705, 289, 421, 693, 513, 103, 459, 707, 441, 583]

Total prime numbers are =  [317, 887, 101, 853, 307, 547, 193, 397, 179, 773, 223, 881, 439, 421, 103]

Prime numbers are =  [317, 887, 101, 853, 307, 547, 193, 397, 179, 773, 223, 881, 439, 421, 103]

WAP to read all the keys and values from dictionary and write to the file in the given below format

In [204]:
fp = open('dictionary.txt','w')
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
for i in range(1,6):
 fp.write(str(i))
 fp.write(",")
 fp.write(D[i])
 fp.write("\n")
fp.close()

Q8. WAP to count the length of reach element from a list

In [207]:
fp = open('list.txt','w')
L=["One","Two","Three","Four","Five"]
for i in range(0,5):
  fp.write(L[i])
  fp.write(",")
  fp.write(str(len(L[i])))
  fp.write("\n")
fp.close()

Q9. Write to the file 100 random strings whose length between 10 and 15

In [ ]:
import random as r
fp = open('string.txt','w')
s = r.sample(range)